@charset "UTF-8"
* {
  margin: 0;
  padding: 0;
}
main {
    background-color: white;
    width: 920px;
    margin-bottom: 30px;
    height: 3060px;
    margin: auto;
    padding:  10px;
    box-shadow: 0px 0px 5px;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px;
}
aside{
border-radius: 4px;
    height: 360px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.288);
    }
 
.perfil-container {
    display: flex;
    align-items: center;
}

.icone {
    flex-basis: 300px; 
    flex-shrink: 0; 
    text-align: center; 
    margin-right: 40px; 
    width: 90px;
    padding: 90px;
}
.icone > img{
  width: 50% ;
  height: auto;
}


.texto-perfil {
    flex-grow: 1; 
    padding-left: 30px; 
}